
<%= form_with(model: @dish, local: true) do |f| %>

  <div class = "form-control">
    <%= f.label :name, 'Название' %>
    <%= f.text_field :name %>
  </div>

  <div class = "form-control">
   <%= f.label :description, 'Описание' %>
   <%= f.text_area :description %>
  </div>

 <div class = "form-control">
    <%= f.label :price, 'Цена' %>
    <%= f.number_field :price %>
  </div>

  <div class = "form-control">
    <%= f.submit 'Сохранить' %>
  </div>

<% end%>