<%= form_with(model: @dish, local: true, multipart: true) do |f| %>

  <div class = "form-control">
    <%= f.label :name, 'Название' %>
    <%= f.text_field :name %>
  </div>

  <div class = "form-control">
   <%= f.label :description, 'Описание' %>
   <%= f.text_area :description %>
  </div>

   <div class = "form-control">
    <%= f.label :category_id, 'Категория' %>
    <%= f.collection_select :category_id, Category.order(:name), :id, :name %>
  </div>

  <div class = "form-control">
    <%= f.label :price, 'Цена' %>
    <%= f.number_field :price %>
  </div>
  
  <div class = "form-control">
    <%= f.label :image, 'Имидж картинка'%>
    <%= f.file_field :image%>
  </div>


  <div class = "form-control">
    <%= f.submit 'Сохранить' %>
  </div>

<% end%>