<h1>Категории</h1>

<div class="buttons_panel">
  <%= link_to 'Новая категория',new_category_path, class: 'btn btn-outline-primary btn-sm' %>
</div>

<section id="categories">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Название</th>   
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each_with_index do |category, index|%>
        <tr>
          <td> <%= index + 1 %></td>
          <td> <%= category.name %></td>
          
          <td>
            <% if user_signed_in? %>
              <%= link_to 'Изменить', edit_category_path(category), class: 'btn btn-outline-primary btn-sm' %>
              <%= link_to 'Удалить', category_path(category),mathod: :delete, data: { confirm: 'Вы уверены'}, class: 'btn btn-outline-danger btn-sm' %>
            <%end%>
          </td>
        </tr>
      <%end%>
    </tbody>  
  </table>
</section>